In [25]:
import pandas as pd

In [26]:
from sklearn.datasets import load_wine

In [27]:
wine = load_wine()

In [28]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [29]:
df1 = pd.DataFrame(wine.data, columns= wine.feature_names)

In [30]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [31]:
df1.head()  # We will now classify wine into three categories

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [32]:
df1['target'] = wine.target

In [33]:
df1.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [34]:
df1.groupby('target')

In [35]:
df1.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(wine.data,df1.target,test_size = 0.3)

In [37]:
from sklearn.naive_bayes import MultinomialNB,GaussianNB
Mmodel = MultinomialNB()
Gmodel = GaussianNB()

# MultinomialNB

In [38]:
Mmodel.fit(X_train,y_train)

MultinomialNB()

In [39]:
Mmodel.score(X_test,y_test)

0.8518518518518519

# GaussianNB

In [40]:
Gmodel.fit(X_train,y_train)

GaussianNB()

In [41]:
Gmodel.score(X_test,y_test)

0.9629629629629629

# Random Forest Classifier

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
Rmodel = RandomForestClassifier()

In [44]:
Rmodel.fit(X_train,y_train)

RandomForestClassifier()

In [45]:
Rmodel.score(X_test,y_test)

0.9814814814814815